## My First R Notebook

In [3]:
#creation of variables
a = 10
b <- 20
30-> c
#All the declarations above carry the same meaning

In [4]:
#print the above values
a
b
c

[1] 10

[1] 20

[1] 30

In [11]:
n <- 15

In [7]:
n

[1] 15

In [8]:
5-> n

In [9]:
n

[1] 5

In [16]:
x <- 1
X <- 10

In [18]:
x

[1] 1

In [17]:
X

[1] 10

In [19]:
n <- 10 + 2

In [20]:
n

[1] 12

In [21]:
n <- 3 + rnorm(1)

#The function rnorm(1) generates a normal random variate with mean zero and variance unity.
#Note that you can simply type an expression without assigning its value to an object.
#The result is thus displayed on the screen but is not stored in memory.

In [22]:
n

[1] 3.882518

In [23]:
(10 + 2) * 5

[1] 60

In [24]:
#The function ls lists simply thge objects in memory.
#An example where only the names of the object is didplayed.
name <- "Carmen"; n1<-10; n2<- 100; m<-0.5
#Semicolon is used to separate commands on the same line.

In [25]:
ls()

 [1] "a"    "b"    "c"    "m"    "n"    "n1"   "n2"   "name" "x"    "X"

In [26]:
#If we want to list only the objects which contain a given character in their name, the option pattern can be used:
ls(pat = "m")

[1] "m"    "name"

In [27]:
#To restrict the list of objects whose names start with this charactere:
ls(pat = "^m")

[1] "m"

In [29]:
#The function ls.str displays some details on the objects in memory:

In [30]:
ls.str()

a :  num 10
b :  num 20
c :  num 30
m :  num 0.5
n :  num 3.88
n1 :  num 10
n2 :  num 100
name :  chr "Carmen"
x :  num 1
X :  num 10

## The on-line help

In [32]:
#It helps give the information of the functions of R.
?lm
#Can also write as help(lm) & help("lm")

In [33]:
#To return the data type of a variable and mode is not mean , median and mode.

In [34]:
x <- 1

In [35]:
mode(x)

[1] "numeric"

In [36]:
#To find the length of the variable.

In [37]:
length(x)

[1] 1

In [38]:
A <- "Gomphotherim" ; compar <- TRUE ; z <- 1i ;

In [39]:
length(A)
#It does not find the number of characters

[1] 1

In [40]:
#A very large numeric value is specified with a exponential notation
N <- 2.1e23

In [41]:
N

[1] 2.1e+23

In [42]:
#R correctly represents non-finite numeric values ,such as Inf and -Inf.
#The values which are not numbers with NaN (Not a Number)

In [43]:
#Eg:
x <- 5/0

In [44]:
x

[1] Inf

In [45]:
exp(x)

[1] Inf

In [46]:
exp(-x)

[1] 0

In [47]:
x-x 
#Inf-Inf = 0

[1] NaN

In [55]:
#To input double quotes in a string use backslash ( \ ).
x <- "Double Quotes \" Delimitate R's Strings. "

In [56]:
x

[1] "Double Quotes \" Delimitate R ' s Strings. "

In [50]:
cat (x)

Double Quotes " Delimitate R's Strings.

In [57]:
#Alternatively
x <- 'Double quotes " delimitae R\'s Strings'

In [60]:
x

[1] "Double quotes \" delimitae R's Strings"

In [ ]:
Object <- ()